In [1]:
import numpy as np
import pandas as pd
from geopy.distance import geodesic

In [2]:
df_address = pd.read_csv('C:/Users/User/Desktop/TP Y2(Sem2)/Data Mining & Business Analytics/Individual Assignment/Dataset(transformed)/address-2017-2021-csv.csv')
df_mall = pd.read_csv('C:/Users/User/Desktop/TP Y2(Sem2)/Data Mining & Business Analytics/Individual Assignment/shopping_malls.csv')

In [3]:
df_address.head()

                 address  Latitude  Longtitude
0  406 ANG MO KIO AVE 10  1.375748  103.854640
1   108 ANG MO KIO AVE 4  1.369525  103.837238
2   602 ANG MO KIO AVE 5  1.380760  103.835425
3  465 ANG MO KIO AVE 10  1.366213  103.857175
4   601 ANG MO KIO AVE 5  1.380987  103.835076

In [4]:
df_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113959 entries, 0 to 113958
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   address     113959 non-null  object
 1   Latitude    113959 non-null  float64
 2   Longtitude  113959 non-null  float64
dtypes: float64(2), object(1)
memory usage: 2.6+ MB

In [5]:
df_mall.head()

                    Shopping Mall  Latitude  Longtitude
0                          100 AM  1.274588  103.843471
1                    313@Somerset  1.301385  103.837684
2                          Aperia  1.310867  103.863930
3  Balestier Hill Shopping Centre  1.326163  103.843741
4                      Bugis Cube  1.298141  103.855635

In [6]:
# function to compute distance between 2 points 

def compute_distance(address_row, df_mall):
    address_lat, address_lng = address_row[['Latitude','Longtitude']]
    min_distance = 9999.0
    for mall_lat, mall_lng in zip(df_mall['Latitude'], df_mall['Longtitude']):
        distance = geodesic((address_lat, address_lng), (mall_lat, mall_lng)).km
        if distance < min_distance:
            min_distance = distance
    return min_distance

In [7]:
distance_series = df_address.apply(compute_distance, axis=1, df_mall=df_mall)

In [8]:
df_output = pd.DataFrame({'address': df_address['address'], 'km_to_mall': distance_series})
df_output.to_csv('address_to_nearest_mall_dist.csv', index=False)