In [12]:
import numpy as np
import pandas as pd
from geopy.distance import geodesic

In [16]:
df_address = pd.read_csv('C:/Users/User/Desktop/TP Y2(Sem2)/Data Mining & Business Analytics/Individual Assignment/Dataset(transformed)/address-2017-2021-csv.csv')
df_stn = pd.read_csv('C:/Users/User/Desktop/TP Y2(Sem2)/Data Mining & Business Analytics/Individual Assignment/mrtsg.csv')

In [17]:
df_address.head()

                 address  Latitude   Longitude
0  406 ANG MO KIO AVE 10  1.375748  103.854640
1   108 ANG MO KIO AVE 4  1.369525  103.837238
2   602 ANG MO KIO AVE 5  1.380760  103.835425
3  465 ANG MO KIO AVE 10  1.366213  103.857175
4   601 ANG MO KIO AVE 5  1.380987  103.835076

In [18]:
df_stn.head()

                 STN_NAME  Latitude   Longitude
0   ADMIRALTY MRT STATION  1.440585  103.800998
1    ALJUNIED MRT STATION  1.316433  103.882893
2  ANG MO KIO MRT STATION  1.369933  103.849553
3       BAKAU LRT STATION  1.388093  103.905418
4     BANGKIT LRT STATION  1.380018  103.772667

In [19]:
# function to compute distance between 2 points 

def compute_distance(address_row, df_stn):
    address_lat, address_lng = address_row[['Latitude','Longitude']]
    min_distance = 9999.0
    for stn_lat, stn_lng in zip(df_stn['Latitude'], df_stn['Longitude']):
        distance = geodesic((address_lat, address_lng), (stn_lat, stn_lng)).km
        if distance < min_distance:
            min_distance = distance
    return min_distance

In [20]:
distance_series = df_address.apply(compute_distance, axis=1, df_stn=df_stn)

In [21]:
df_output = pd.DataFrame({'address': df_address['address'], 'km_to_mrt': distance_series})
df_output.to_csv('address_to_nearest_stn_dist.csv', index=False)